@font-face {
    font-family: PaytoneOne;
    src: url("../font/PaytoneOne-Regular.ttf");
}

/* X-Small devices (portrait phones, less than 576px) */
* {
    box-sizing: border-box;
}

html, body {
    font-family: PaytoneOne;
    background-color: black;
    margin: 0;
    cursor: url("../cursor/SmoothArrow.cur"), pointer;
    
    /* Compatibilità per Mozilla Firefox */
    scrollbar-color: white;
    scrollbar-width: 0.5rem;
    scrollbar-track-color: red;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: red;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 0;
    display: inline-block;
    color: yellow;
    text-shadow: red 2px 2px;
    font-size: 3rem;
}

section {
    user-select: none;
}

h3 {
    margin-bottom: 0;
    color: greenyellow;
}

hr {
    width: 100%;
}

header hr {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.list{
    color: white;
    list-style: none;
    text-align: center;
    margin-bottom: 1.5rem;
}

.list h4 {
    user-select: text;
}

.anime, .tv-series {
    text-align: center;
    width: 100%;
}

.anime {
    background-color: slateblue;
}

.tv-series {
    /* background-color: cadetblue; */
    background-color: cornflowerblue;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  

}