#social {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

#social div {
    margin: calc(1rem + 0.5vw);
    width: calc(5rem + 2vw);
    height: calc(5rem + 2vw);
    border-radius: 1rem;
}

#social div {
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid black;
    background-position: center;
    user-select: none;
}

@keyframes icon {
    0% {background-size: 100%;}
    100% {background-size: 110%;}
}

#social div:hover {
    cursor: pointer;
    animation-name: icon;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

#social #telegram {
    background-image: url(../img/telegram.webp);
}

#social #instagram {
    background-image: url(../img/instagram.webp);
}

#social #github {
    background-image: url(../img/github.png)
}

#social #steam {
    background-image: url(../img/steam.webp);
}

#social #discord {
    background-image: url(../img/discord.png);
}

#social #twitch {
    background-image: url(../img/twitch.png);
}

@media only screen and (min-width: 768px) {
    #social {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}