#social {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(7rem + 2vw), 1fr));
    justify-items: center;
    gap: calc(1rem + 0.5vw);
}

#city:hover {
    cursor: pointer;
    color: #B75D69;
}

#social div {
    margin: calc(1rem + 0.5vw);
    width: calc(5rem + 2vw);
    height: calc(5rem + 2vw);
    border-radius: 1rem;
}

#social div {
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid black;
    background-position: center;
    user-select: none;
}

@keyframes icon {
    0% {background-size: 100%;}
    100% {background-size: 105%;}
}

#social div:hover {
    cursor: pointer;
    animation-name: icon;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

#telegram {
    background-image: url(../img/telegram.webp);
}

#instagram {
    background-image: url(../img/instagram.webp);
}

#github {
    background-image: url(../img/github.png)
}

#steam {
    background-image: url(../img/steam.webp);
}

#discord {
    background-image: url(../img/discord.png);
}

#twitch {
    background-image: url(../img/twitch.png);
}

#reddit {
    background-image: url(../img/reddit.png);
}

#spotify {
    background-image: url(../img/spotify.png)
}