body, html {
    overflow-x: hidden;
    margin: 0;
    padding-top: 2.5rem;
}

img {
    padding: 0;
    margin: 0;
    float: left;
    clear: left;
}

header {
    top: 0;
    left: 0;
    background: white;
    height: 5rem;
    position: fixed;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}