@font-face {
    font-family: LilitaOne-Regular;
    src: url("LilitaOne-Regular.ttf");
}

.loading {
    user-select: none;
    display: inline-block;
    font-family: LilitaOne-Regular;
    width: 100%;
    height: 1rem;
    padding: 0.5rem;
}

body, html {
    overflow-x: hidden;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background: black;
}

img {
    padding: 0;
    margin: 0;
    float: left;
    clear: left;
}

header {
    font-size: large;
    font-family: LilitaOne-Regular;
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: white;
    height: 5rem;
    width: 100%;
    text-align: center;
    user-select: none;
}

#return {
    display: inline-block;
    height: 5rem;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

@keyframes hide {
    0% {height: 5rem; font-size: initial;}
    100% {height: 0rem; display: none; font-size: 0;}
}

.hide-header {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {height: 0; font-size: 0;}
    100% {height: 5rem; font-size: initial; display: inline-block;}
}

.show-header {
    animation-name: show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.error {
    background: white;
    color: red;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}