@font-face {
    font-family: MontserratAlternates-Thin;
    src: url(../font/Montserrat_Alternates/MontserratAlternates-Bold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../font/Open_Sans/static/OpenSans-Regular.ttf);
}

@keyframes zoom {
    0% {opacity: 0};
}

* {
    box-sizing: border-box;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    animation-name: zoom;
    animation-duration: 0.5s;
}

html, body {
    margin: 0;
    background-color: #0D1821;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: MontserratAlternates-Thin;
}

header {
    text-align: center;
    background-color: #0D1821;
    color: white;
}

header h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 0;
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.5rem;
}

.button {
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
    font-family: Poppins-Regular;
}

.button:nth-child(4)::after {
    content: " ▷";
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button:nth-child(4) {
    position: relative;
}

.button:nth-child(4):hover::after {
    content: " ▽";
}

.button:nth-child(4):hover > .menu{
    display: block;
}

.menu {
    animation: none;
    text-align: left;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #0D1821;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    padding: 0.5rem;
}

.menu ul li:hover {
    color: yellow;
}

p {
    font-family: Poppins-Regular;
    margin: 0;
    padding: 0;
}

article section h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
}

article section {
    background-color: #344966;
    text-align: left;
    padding: 1rem;
    color: white;
    margin: 1rem;
    border-radius: 1rem;
}

#meme {
    margin: 1rem;
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}