* {
    box-sizing: border-box;
    user-select: none;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    cursor: url(../cursor/Smooth/SmoothArrow.cur), default;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../image/wallpapersden.com_artistic-pixel-art-hd-space_1920x1080.jpg) repeat-x;
    background-size: cover;
}


@font-face {
    font-family: PressStart2P;
    src: url(../font/Press_Start_2P/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: Pixelify;
    src: url(../font/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

#title {
    color: gold;
    font-size: 2.5rem;
    font-family: PressStart2P, sans-serif;
    align-self: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;   
}

.button {
    font-size: 1.8rem;
    font-family: Pixelify, sans-serif;
    text-transform: uppercase;
    box-shadow: -0.2rem 0 0 0 black,
                0.2rem 0 0 0 black,
                0 -0.2rem 0 0 black,
                0 0.2rem 0 0 black;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: center;
    background-color: white;
    transition: background 0.2s ease, color 0.2s ease;
}

.button:hover {
    background: red;
    color: yellow;
    cursor: url(../cursor/Smooth/SmoothHand.cur), pointer;
}

.window {
    position: absolute;
    width: 75%;
    max-height: 20rem;
    background-color: midnightblue;
    font-family: Pixelify;
    box-shadow: -0.2rem 0 0 0 black,
                0.2rem 0 0 0 black,
                0 -0.2rem 0 0 black,
                0 0.2rem 0 0 black;
    display: flex;
    flex-direction: column;
}

.window .top {
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "title close";
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    padding: 0.7rem;
}

.window .top .title {
    grid-area: title;
}

.window .top .close {
    grid-area: close;
    color: red;
    width: fit-content;
}

.window .top .close:hover {
    cursor: url(../cursor/Smooth/SmoothHand.cur), pointer;
    color: gold;
}

.window .content {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0.7rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    flex-grow: 1;
    scrollbar-width: thin;
    scrollbar-color: gold #f1f1f1;
}

.window .content::-webkit-scrollbar-thumb {
    background-color: gold; /* Colore della parte che si muove */
    border-radius: 10px; /* Bordo arrotondato */
}

.window .content::-webkit-scrollbar-thumb {
    background-color: gold; /* Colore della parte che si muove */
    border-radius: 10px; /* Bordo arrotondato */
}

.window .content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Colore di sfondo della pista della barra di scorrimento */
    border-radius: 10px;
}

.window .content .title {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}

.window .content .list {
    font-size: 1.2rem;
}

.window .content .list ul {
    margin-top: 0.5rem;
}

@media screen and (max-height: 400px) {
    #title {
        display: none;
    }

    .window {
        width: 50%;
        height: 75%;
    }
}

@media screen and (min-width: 1024px) {
    #title {
        font-size: 4rem;
    }

    .button {
        font-size: 2.5rem;
    }

    .window {
        width: 35%;
    }
}

@media screen and (min-width: 650px) and (max-width: 1023px) {
    #title {
        font-size: 3.5rem;
    }
}